20_scripts/10_butyrate_pilot/
20_scripts/20_metabolites_honda/
20_scripts/30_bacterial_supernatant/gregor_previous_work/
.ipynb_checkpoints
**/*.err
*.pyc
*.pyc
__pycache__
*sif
*.Rproj
.nextflow*
tmp/
work/
.DS_Store
*.out
40_tables
*.err
figures
*.h5ad
*.png
*.pdf
*.svg
